* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather sans", serif;
}
.login-wrapper {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}
.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.form img {
  position: relative;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ff1900;
  filter: drop-shadow(0 0 15px #ff5722);
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #cc0300;
}
.form .input-group {
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #ec2e18;
  font-size: 0.8rem;
}
.login-btn .pt-login-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background-color: #ec2e18;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.btn-primary {
  color: #fff;
  background-color: #ec2e18 !important;
  border-color: #0d6efd;
}
.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #ff1900 !important;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header-quote {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: white;
  font-size: 3rem;
  font-weight: 700px;
}
.font2 {
  font-family: "Rubik Glitch", cursive;
  font-size: 70px;
}
.font3 {
  font-family: "Merriweather", serif;
  font-size: 40px;
}
.landing-body {
  width: 100%;
  margin-top: 80px;
}
.landing-middle-div {
  margin-top: 100px;
  margin-bottom: 200px;

  width: 100%;
  height: 250px;
}
.landing-object {
  width: 400px;
  height: 350px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 40px;
}
.landing-middle-text {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  text-align: center;
}
.landing-middle-img {
  width: 80px;
  height: 80px;
}
.landing-body-background {
  background-color: rgb(210, 255, 245);
  width: 48%;
  margin-right: 7px;
  height: 400px;
}

.landing-body-background:hover {
  transition: 0.7s;
  transform: scale(1.05);
}
.landing-body-background2:hover {
  transition: 0.7s;
  transform: scale(1.05);
}
.landing-body-background2 {
  background-size: cover;
  width: 48%;
  margin-left: 7px;

  height: 400px;
  background-image: url("https://res.cloudinary.com/jerrick/image/upload/f_jpg,fl_progressive,q_auto,w_1024/5e5b0c96ad0bcb001cd931aa.jpg");
}
.fruit-img {
  background-color: rgba(0, 0, 0, 0.171);
  width: 100%;
  padding: 70px;
  padding-left: 80px;
  padding-right: 80px;
}
.workout-img {
  width: 320px;
  height: 220px;
  justify-content: center;
}
.landing-text {
  margin-left: 120px;
  margin-right: 100px;
  font-size: 17px;
  text-align: center;
}
.landing-text2 {
  margin-left: 80px;
  margin-right: 80px;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.landing-h1 {
  margin-top: 50px;
  margin-bottom: 10px;
}
.img-overlay {
  background-color: rgba(0, 0, 0, 0.452);
  width: 100%;
  height: 100%;
}
.header-img {
  background-image: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  height: 70vh;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.header-background {
  background-color: rgba(0, 0, 0, 0.425);
  padding-top: 20px;
  height: 70vh;
  font-weight: 700px;
}
header::before {
  background-color: rgb(0, 0, 0);

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel-wrapper > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
